<form>
    <iframe src="plots/Acti_revenue_fail_topic_1.html" width="100%" height="700"></iframe>

    <input type="radio" id="rat_act" name="plot" value="rat_act" checked>
    <label for="rat_act">Action by rating</label>
    <input type="radio" id="com_act" name="plot" value="com_act">
    <label for="com_act">Comedy by rating</label>
    <input type="radio" id="dra_act" name="plot" value="dra_act">
    <label for="dra_act">Drama by rating</label>
    <input type="radio" id="rom_act" name="plot" value="rom_act">
    <label for="rom_act">Romance by rating</label>
    <input type="radio" id="thr_act" name="plot" value="thr_act">
    <label for="thr_act">Thriller by rating</label><br>
    <input type="radio" id="rat_rev" name="plot" value="rat_rev">
    <label for="rat_rev">Action by revenue</label>
    <input type="radio" id="com_rev" name="plot" value="com_rev">
    <label for="com_rev">Comedy by revenue</label>
    <input type="radio" id="dra_rev" name="plot" value="dra_rev">
    <label for="dra_rev">Drama by revenue</label>
    <input type="radio" id="rom_rev" name="plot" value="rom_rev">
    <label for="rom_rev">Romance by revenue</label>
    <input type="radio" id="thr_rev" name="plot" value="thr_rev">
    <label for="thr_rev">Thriller by revenue</label><br>

    <iframe id="rat_act" src="plots/Acti_rating_fail_topic_1.html" width="100%" height="700"></iframe>
    <iframe id="com_act" src="plots/comedy_rating/index.html" width="100%" height="700"></iframe>
    <iframe id="dra_act" src="plots/drama_rating/index.html" width="100%" height="700"></iframe>
    <iframe id="rom_act" src="plots/romance_rating/index.html" width="100%" height="700"></iframe>
    <iframe id="thr_act" src="plots/thriller_rating/index.html" width="100%" height="700"></iframe>
    <iframe id="rat_rev" src="plots/action_revenue/index.html" width="100%" height="700"></iframe>
    <iframe id="com_rev" src="plots/comedy_revenue/index.html" width="100%" height="700"></iframe>
    <iframe id="dra_rev" src="plots/drama_revenue/index.html" width="100%" height="700"></iframe>
    <iframe id="rom_rev" src="plots/romance_revenue/index.html" width="100%" height="700"></iframe>
    <iframe id="thr_rev" src="plots/thriller_revenue/index.html" width="100%" height="700"></iframe>
</form>